html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

:root {
    --main-color: #000000;
    --secondary-color: white;
    --terciary-color: #999999;
}

body {
    /* reset de los user agent styles para margin y padding*/
    margin: 0;
    padding: 0;

    font-family: Montserrat, "sans-serif";
}

.container {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: white;
}

/* ------------------------------ CABECERA ------------------------------------ */



header {
    display: flex;
    width: 100%;
    /* background-color: coral; */

    z-index: 1999;
    position: absolute;

    justify-content: space-between;
    overflow-x: hidden;

}


/* ------------------ LOGO ------------------ */


.logo {
    display: flex;
    flex-flow: row nowrap;

    width: 30vw;
    /* background-color: #F0B460; */

    justify-content: left;
    align-items: center;
    align-content: center;


}


/* ------------------ CIRCLE ------------------ */


.circle {
    width: 5em;
    height: 5em ;
    background-color: red;
    /* Puedes cambiar el color */
    border-radius: 50%;
    /* Establece el radio para hacerlo circular */

    margin-top: 3vh;
    margin-left: 2.4vw;
}

.logo p {
    margin-top: 6vh;
    margin-left: 1vw;
    font-size: clamp(0.8rem, 0.5rem + 1vw, 1.7rem);
}



/* -------------MENU------------- */



.main-nav {
    display: flex;
    flex-flow: row nowrap;

    font-weight: 300;

    margin-top: 5vh;

    /* background-color: coral; */
}

.list-nav {
    display: flex;
}

.list-nav li:not(:last-child) {
    margin-right: 8vw;
}

.list-nav li {
    text-transform: uppercase;
    font-size: clamp(0.7rem, 0.579rem + 0.404vw, 1.064rem);
    font-weight: 400;
    list-style: none;
    font-family: Montserrat, "sans serif";
    margin-right: 4vw;
}

.list-nav-item1 a {
    position: relative;
    text-decoration: none;
    color: white;
}


.link {
    text-decoration: none;
    color: inherit;
    color: var(--main-color);
}

.main-nav li a:hover {
    color: white;
}

/* ------------------------------ HERO ------------------------------------ */


.hero {
    position: relative;
    width: 100%;
    height: 73.92523364485982vh;

    background-image: url(./images/routes/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    overflow: hidden;
}


.texto-hero {
    position: absolute;
    width: 100%;
    top: 53%;
    left: 93%;

    transform: translate(-50%, -50%);
    z-index: 3;


    color: white;
    font-size: clamp(1.9rem, 0.4rem + 4vw, 4rem);
    font-weight: 200;

    z-index: 999;
}

/* ----------------------------------- SECTION 1 --------------------------------- */

.section-1 {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    width: 100vw;
    height: fit-content;
}

.rectangulo-1-routes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 17vh;
    background-color: #1a1c1b;
}

.rectangulo-1-routes p {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
}

.rectangulo-ruta-norte {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 12vh;
    background-color: var(--terciary-color);
}

.rectangulo-ruta-norte p {
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
}

.norte {
    display: flex;
    flex-wrap: wrap;

    background-image: url(./images/routes/sapporo.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

#norte2 {
    display: none;

    background-image: url(./images/routes/aomori.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

#norte3 {
    display: none;

    background-image: url(./images/routes/hirosaki.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}


.timeline {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    align-items: center;
    width: 10em;
    height: 45em;

    color: var(--secondary-color);


    margin-left: 10em;
    margin-right: 10em;
}

.dia1-2 {
    cursor: pointer;
}

.dia3-4 {
    cursor: pointer;
}

.dia5-6 {
    cursor: pointer;
}

.timeline h4 {
    font-size: 1.5rem;
}

.info-timeline {
    display: flex;
    flex-flow: column wrap;

    justify-content: space-around;
    align-items: left;
    align-content: left;

    width: 40%;
    height: fit-content;

    margin-top: 13vh;

    color: var(--secondary-color);
}

.info-timeline h4 {
    font-size: 1.7rem;
}

.info-timeline h5 {
    font-size: 1.3rem;
}

.info-timeline p {
    font-size: 1.05rem;
    font-weight: 400;
}

.achievements {
    display: flex;
    justify-content: center;

    width: 100%;
    height: fit-content;

    /* background-color: red; */
    color: var(--secondary-color);
}

.middle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 85%;
    /* background-color: rgb(204, 194, 183); */
}

.texto-middle {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    /* background-color: aquamarine; */

    line-height: 2.2em;
    margin-bottom: 10vh;
}

.texto-middle h6 {
    width: 100%;

    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;

    color: var(--main-color);
}

.texto-middle p {
    width: 55%;
    text-align: center;

    color: var(--main-color);
}

.circulo1 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
    text-align: center;
}

.circulo2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
}

.circulo3 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
    text-align: center;
}

/* ----------------------------------- SECTION 2 --------------------------------- */

.section-2 {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    width: 100vw;
    margin-top: 15vh;
    height: fit-content;
}

.rectangulo-ruta-sur {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 12vh;
    background-color: var(--terciary-color);
}

.rectangulo-ruta-sur p {
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
}

.sur {
    display: flex;
    flex-wrap: wrap;

    background-image: url(./images/routes/osaka.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}


#sur2 {
    display: none;

    background-image: url(./images/routes/mirayami.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

#sur3 {
    display: none;

    background-image: url(./images/routes/okinawa.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

.timeline {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    align-items: center;
    width: 10em;
    height: 45em;

    color: var(--secondary-color);


    margin-left: 10em;
    margin-right: 10em;
}

.dia1-2 {
    cursor: pointer;
}

.dia3-4 {
    cursor: pointer;
}

.dia5-6 {
    cursor: pointer;
}

.timeline h4 {
    font-size: 1.5rem;
}

.info-timeline {
    display: flex;
    flex-flow: column wrap;

    justify-content: space-around;
    align-items: left;
    align-content: left;

    width: 40%;
    height: fit-content;

    margin-top: 13vh;

    color: var(--secondary-color);
}

.info-timeline h4 {
    font-size: 1.7rem;
}

.info-timeline h5 {
    font-size: 1.3rem;
}

.info-timeline p {
    font-size: 1.05rem;
    font-weight: 400;
}

.achievements-2 {
    display: flex;
    justify-content: center;

    width: 100%;
    height: fit-content;

    /* background-color: red; */
    color: var(--secondary-color);
}

.middle-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 85%;
    /* background-color: rgb(204, 194, 183); */
}

.texto-middle-2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    /* background-color: aquamarine; */

    line-height: 2.2em;
    margin-bottom: 10vh;
}

.texto-middle-2 h6 {
    width: 100%;

    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;

    color: var(--main-color);
}

.texto-middle-2 p {
    width: 55%;
    text-align: center;

    color: var(--main-color);
}

.circulo1 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
    text-align: center;
}

.circulo2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
}

.circulo3 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
    text-align: center;
}


/* ----------------------------------- SECTION 2 --------------------------------- */

.section-3 {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    width: 100vw;
    margin-top: 15vh;
    height: fit-content;
}

.rectangulo-ruta-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 12vh;
    background-color: var(--terciary-color);
}

.rectangulo-ruta-middle p {
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
}

.middle-japan {
    display: flex;
    flex-wrap: wrap;

    background-image: url(./images/routes/nagoya.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

#middle2 {
    display: none;

    background-image: url(./images/routes/kanazawa.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

#middle3 {
    display: none;
    
    background-image: url(./images/routes/tokyo.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: fit-content;

    overflow: hidden;
}

.timeline {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    align-items: center;
    width: 10em;
    height: 45em;

    color: var(--secondary-color);


    margin-left: 10em;
    margin-right: 10em;
}

.dia1-2 {
    cursor: pointer;
}

.dia3-4 {
    cursor: pointer;
}

.dia5-6 {
    cursor: pointer;
}

.timeline h4 {
    font-size: 1.5rem;
}

.info-timeline {
    display: flex;
    flex-flow: column wrap;

    justify-content: space-around;
    align-items: left;
    align-content: left;

    width: 40%;
    height: fit-content;

    margin-top: 13vh;

    color: var(--secondary-color);
}

.info-timeline h4 {
    font-size: 1.7rem;
}

.info-timeline h5 {
    font-size: 1.3rem;
}

.info-timeline p {
    font-size: 1.05rem;
    font-weight: 400;
}

.achievements-3 {
    display: flex;
    justify-content: center;

    width: 100%;
    height: fit-content;

    /* background-color: red; */
    color: var(--secondary-color);
}

.middle-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 85%;
    /* background-color: rgb(204, 194, 183); */
}

.texto-middle-3 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    /* background-color: aquamarine; */

    line-height: 2.2em;
    margin-bottom: 10vh;
}

.texto-middle-3 h6 {
    width: 100%;

    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;

    color: var(--main-color);
}

.texto-middle-3 p {
    width: 55%;
    text-align: center;

    color: var(--main-color);
}

.circulo1 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
    text-align: center;
}

.circulo2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
}

.circulo3 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: var(--terciary-color);
    text-align: center;
}


/* ------------------------------ FOOTER ------------------------------------ */



footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: fit-content;
    color: white;

    margin-top: 15vh;
    background-color: #1a1c1b;
}

.contenedor-footer-top {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    width: 100vw;
    height: fit-content;
    /* background-color: #F0B460; */

    margin-top: 6vh;
}

.logo-footer {
    display: flex;
    flex-flow: row nowrap;

    width: 20%;
    /* background-color: green; */

    justify-content: right;
    align-items: center;
    align-content: center;


}

.logo-footer p {
    margin-left: 1vw;
    font-size: 1.7rem;
}

.pages h3 {
    font-size: 1rem;
    margin-bottom: 3vh;
}

.pages p {
    font-size: .8rem;
    margin-bottom: 2.2vh;
}

.policies h3 {
    font-size: 1rem;
    margin-bottom: 3vh;
}

.policies p {
    font-size: .8rem;
    margin-bottom: 2.2vh;
}

.social-media {
    margin-right: 4em;
}

.social-media h3 {
    font-size: 1rem;
    margin-bottom: 3vh;
}

.social-media p {
    font-size: .8rem;
    margin-bottom: 2.2vh;
}

.imagen-social-media {
    width: 1.4vw;
    margin-right: .5vw;
    background-color: aliceblue;
}

.links {
    text-decoration: none;
    color: white;
}

.contenedor-footer-bottom {
    width: 70vw;
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;

    border-top: 1px solid var(--terciary-color);
    margin-top: 2vh;
}

.contenedor-footer-bottom p {
    margin-top: 6vh;
    margin-bottom: 6vh;
    font-size: .8rem;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

@media only screen and (max-width: 768px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        background-color: transparent;
        color: white;
        margin-right: 2em;

    }

    .main-nav {
        opacity: 0;
        visibility: hidden;

    }

    header {
        overflow: unset;
    }
    .main-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0em;
        right: 0em;
        margin: 0%;
        bottom: 0;
        gap: 1rem;
        position: fixed;
        background-color: var(--terciary-color);
        /* padding: 2rem; */
        width: 30%;
        height: 100vh;
        align-items: end;
        justify-content: flex-start;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
        
    }

    .main-nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .list-nav {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .list-nav li {
        margin-top: 7vh;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 798px) {
    .info-timeline {
        /* background-color: antiquewhite; */
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 0vh;
        margin-bottom: 13vh;
    }

    .info-timeline h4 {
        margin-top: 0vh;
    }

    .info-timeline p {
        width: 90%;
        text-align: center;
    }

    .texto-middle p{
        width: 90%;
        /* background-color: antiquewhite; */
    }

    .texto-middle-2 p{
        width: 90%;
        /* background-color: antiquewhite; */
    }

    .texto-middle-3 p{
        width: 90%;
        /* background-color: antiquewhite; */
    }
}



@media only screen and (max-width: 480px) {
    

    .texto-hero {
        top: 40%;
    }

     /* ---------------------- FOOTER ------------------------- */

     .contenedor-footer-top {
        flex-wrap: wrap;
    }

    .logo-footer {
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

     .pages {
        width: 100%;
        text-align: center;
    }

    .policies {
        width: 100%;
        text-align: center;
    }

    .social-media {
        width: 100%;
        text-align: center;
        margin-right: 0em;
    }

    .pages h3 {
        font-size: 1.3rem;
    }

    .policies h3 {
        font-size: 1.3rem;
    }

    .social-media h3 {
        font-size: 1.3rem;
    }

    .pages p {
        font-size: 1rem;
    }

    .policies p {
        font-size: 1rem;
    }

    .social-media p {
        font-size: 1rem;
    }

    .social-media img {
        width: 20px;
    }
    .contenedor-footer-bottom {
        width: 80vw;
    }
}